<!DOCTYPE html>
<html>
<head>
    <title>Monster Slayer</title>
    <script src="https://npmcdn.com/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
<div id="app">
    <section class="row">
        <div class="small-6 columns">
            <h1 class="text-center">YOU</h1>
            <div class="healthbar">
                <div
                v-if="isGameRunning"
                class="healthbar text-center" 
                style="background-color: green; margin: 0; color: white;"
                :style="{width: playerHealth + '%'}">
                    {{playerHealth}}
                </div>
            </div>
        </div>
        <div class="small-6 columns">
            <h1 class="text-center">MONSTER</h1>
            <div class="healthbar">
                <div 
                v-if="isGameRunning"
                class="healthbar text-center" 
                style="background-color: green; margin: 0; color: white;"
                :style="{width: monsterHealth + '%'}">
                    {{monsterHealth}}
                </div>
            </div>
        </div>
    </section>
    <section class="row controls" v-if="!isGameRunning">
        <div class="small-12 columns">
            <button id="start-game" @click="startNewGame()">START NEW GAME</button>
        </div>
    </section>
    <template v-if="isGameRunning">
        <section class="row controls">
            <div class="small-12 columns">
                <button id="attack" @click="attack()" >ATTACK</button>
                <button id="special-attack" @click="specialAttack()">SPECIAL ATTACK</button>
                <button id="heal" @click="heal()" :disabled="disableHeal">HEAL</button>
                <button id="give-up" @click="isGameRunning = !isGameRunning">GIVE UP</button>
            </div>
        </section>
        <section class="row log">
            <div class="small-12 columns">
                <ul style="transition: 1s">
                    <transition-group name="slide">
                        <li v-for="(battleLog,i) in battleLogs" :key="battleLog +'id' + i " :class="battleLog.cssClassName">
                            <div>{{battleLog.attacker}} {{battleLog.action}} for {{battleLog.amount}}</div>                        
                        </li>
                    </transition-group>
                </ul>
            </div>
        </section>
    </template>
</div>
</body>
<script src="./vue.js"></script>
</html>